        <footer class="container-fluid">
            <div class="container-fluid">
                <div class="row padding text-center">
                    <div class="col-12">
                        <h2>Контакты</h2>
                    </div>
                    <div class="col-12 social padding">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>