    <footer class="footer container-fluid">
        <div class="container-fluid">
            <div class="row padding text-center">
                <div class="col-12">
                    <h2>Контакты</h2>
                </div>
                <div class="col-12 social padding">
                    <a href="https://vk.com/hkh99"><i class="fab fa-vk"></i></a>
                    <a href="https://yandex.ru/q/profile/b49wqregq12pgn56khwc7pane0/?utm_medium=share&utm_campaign=user"><i class="fab fa-yandex"></i></a>
                    <a href="https://www.youtube.com/channel/UCX0N9Nr4QNGLfk6js6gMDMw"><i class="fab fa-youtube"></i></a>
                    <a href="https://t.me/jeeeeeeetar"><i class="fab fa-telegram"></i></a>
                    <!-- <a href="#"><i class="fab fa-google-plus-g"></i></a> -->
                </div>
            </div>
        </div>
    </footer>
    </body>
</html>