{% extends 'header.html' %}
{% block content %}
<header>
    <div class="wrap-logo">
        <a href="#logo" class="logo">Логотип сайта</a>
    </div>
        <nav>
            <a class="active" href="#home">Главная</a>
            <a href="#about">О нас</a>
            <a href="{{ url_for('logout') }}">Выход</a>
        </nav>
</header>
Welcome to you self page {{ username }}
<div>
    {% for i in methods_name -%}
    <li>
        <a href="{{ url_for('%s' % i.name_method) }}">{{ i.name_method }}</a>
    </li>
    {% endfor -%}
</div>
{% for cat,msg in get_flashed_messages(True) %}
<div class="{{ cat }}">
    {{ msg }}
</div>
{% endfor %}
<form action="", method="POST">
    <div>
        <input type="submit", name="button", value="Сгенерировать ключи" class="btn third"></input>
    </div>
</form>
{% endblock %}
{% include 'footer.html' %}