{% extends 'header.html' %}
{% block content %}
<header>
    <div class="wrap-logo">
        <a href="#logo" class="logo">Логотип сайта</a>
    </div>
        <nav>
            <a class="active" href="#home">Главная</a>
            <a href="#about">О нас</a>
            <a href="{{ url_for('logout') }}">Выход</a>
        </nav>
</header>
<div>
    <h1>
       YUO in the RSA html page
    </h1>
    <a href="{{ url_for('login') }}"> Main Page </a>
</div>
<div>
    <form action="/RSA" method="post", enctype="multipart/form-data">
        <label for="file"> File:</label>
        <input type="file" id="file" name="file"><br />
        <button class="btn third">Upload</button>
    </form>
</div>
</div>
    <button>Download</button>
</div>
{% endblock %}
{% include 'footer.html' %}
