{% extends 'header.html' %}
{% block content %}
<header xmlns="http://www.w3.org/1999/html">
    <div class="wrap-logo">
        <a href="#logo" class="logo">Логотип сайта</a>
    </div>
        <nav>
            <a class="active" href="#home">Главная</a>
            <a href="#about">О нас</a>
            <a href="{{ url_for('logout') }}">Выход</a>
        </nav>
</header>
<div>
    <h1>
       YUO in the RSA html page
    </h1>
    <a href="{{ url_for('login') }}"> Main Page </a>
</div>

<form action="/RSA" method="POST", enctype="multipart/form-data">
        <div>
            <label for="file-upload", class="btn third">Загрузите файл</label>
            <input id="file-upload" type="file", name="file" />
            <input class="btn third", name="button" >Зашифровать</input>
        </div>
</form>

{% endblock %}
{% include 'footer.html' %}
