{% extends 'header.html' %}
{% block content %}
<header xmlns="http://www.w3.org/1999/html">
    <div class="wrap-logo">
        <a href="#logo" class="logo">Логотип сайта</a>
    </div>
        <nav>
            <a class="active" href="#home">Главная</a>
            <a href="{{url_for('download', username=session['userLogged'])}}">Мои файлы</a>
            <a href="{{ url_for('logout') }}">Выход</a>
        </nav>
</header>
<div>
    <h1>
       YUO in the RSA html page
    </h1>
    <a href="{{ url_for('login') }}"> Main Page </a>
</div>
{% for cat,msg in get_flashed_messages(True) %}
<div class="{{ cat }}">
    {{ msg }}
</div>
{% endfor %}
<form action="" method="POST", enctype="multipart/form-data">
        <div>
            <label for="file-upload", class="btn third">Загрузите файл</label>
            <input id="file-upload" type="file", name="filename">
            <button class="btn third", name="button", type="submit" >Зашифровать</button>
        </div>
</form>

{% endblock %}
{% include 'footer.html' %}
